// ----------------STYLING APPLIED FOR TABLET--------------------//
@media (min-width: 1024px) {
    .carousel-item{
        height: 600px;
        img{
            position: inherit;
        }

    }

    .container{
       max-width: 1200px;
     }


    .scrollImage{
        background-size: 1200px;
        height: 600px;
    }
    .bookNow{
        bottom: 80px;
        right: 180px;
    }

.phone-offset{
    margin-left: 150px;
}



}
// end of @media
