// ----------------STYLING APPLIED FOR TABLET--------------------//
@media (min-width: 768px) and (max-width: 1023px) {
    .carousel-item{
        height: 400expx;

    }


    .scrollImage{
        background-size: 100%;
        height: 800px;
    }












  }